{{ form_start(form) }}
    <fieldset>
        <legend>Informations étudiant</legend>
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.promotion) }}
        {{ form_row(form.major) }}
    </fieldset>
    <button type="submit">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
