{{ form_start(form) }}
    <fieldset>
        <div class="row">
            <label data-field for="{{ form.firstName.vars.id }}" class="col-6">
                {{ form.firstName.vars.label }}
                {{ form_widget(form.firstName) }}
                {{ form_errors(form.firstName) }}
            </label>

            <label data-field for="{{ form.lastName.vars.id }}" class="col-6">
                {{ form.lastName.vars.label }}
                {{ form_widget(form.lastName) }}
                {{ form_errors(form.lastName) }}
            </label>
        </div>

        <div class="row">
            <label data-field for="{{ form.promotion.vars.id }}" class="col-6">
                {{ form.promotion.vars.label }}
                {{ form_widget(form.promotion) }}
                {{ form_errors(form.promotion) }}
            </label>

            <label data-field for="{{ form.major.vars.id }}" class="col-6">
                {{ form.major.vars.label }}
                {{ form_widget(form.major) }}
                {{ form_errors(form.major) }}
            </label>
        </div>
    </fieldset>
    <button type="submit">Enregistrer</button>
{{ form_end(form) }}
