{% extends 'base.html.twig' %}

{% block title %}Étudiants{% endblock %}

{% block body %}
    <section>
        <a href="{{ path('app_student_new') }}">Ajouter un étudiant</a>
        <form method="get" action="{{ path('app_student_index') }}">
            <label data-field for="showArchived">
                <input id="showArchived" name="showArchived" type="checkbox" value="1" {% if showArchived %}checked{% endif %}>
                Afficher les archivés
            </label>
            <button type="submit">Filtrer</button>
        </form>
    </section>

    <section class="table">
        <table>
            <thead>
                <tr>
                    <th>Prénom Nom</th>
                    <th style="text-align: center;">Option</th>
                    <th style="text-align: center;">Promotion</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.firstName }} {{ student.lastName }}</td>
                    <td style="text-align: center;">
                        <span title="{{ student.major.label }}">{{ student.major.code }}</span>
                    </td>
                    <td style="text-align: center;">{{ student.promotion.year }}</td>
                    <td class="actions-cell">
                        <a href="{{ path('app_student_edit', {'id': student.id}) }}" class="button outline small" aria-label="Modifier l'étudiant" title="Modifier">
                            {{ ux_icon('pen-line') }}
                        </a>
                        {{ include('student/_delete_form.html.twig', {'student': student}) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun étudiant enregistré.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

    {{ include('_pagination.html.twig', {
        route: 'app_student_index',
        current_page: current_page,
        pages_count: pages_count,
        query: showArchived ? {'showArchived': 1} : {}
    }) }}
{% endblock %}
