{% import "_form_macros.html.twig" as forms %}

{{ form_start(form) }}
    <fieldset>
        <div class="row">
            <label data-field for="{{ form.student.vars.id }}" class="col-6">
                {{ forms.label(form.student) }}
                {{ form_widget(form.student) }}
                {{ form_errors(form.student) }}
            </label>

            <label data-field for="{{ form.company.vars.id }}" class="col-6">
                {{ forms.label(form.company) }}
                {{ form_widget(form.company) }}
                {{ form_errors(form.company) }}
            </label>
        </div>

        <div class="row">
            <label data-field for="{{ form.startDate.vars.id }}" class="col-6">
                {{ forms.label(form.startDate) }}
                {{ form_widget(form.startDate) }}
                {{ form_errors(form.startDate) }}
            </label>

            <label data-field for="{{ form.endDate.vars.id }}" class="col-6">
                {{ forms.label(form.endDate) }}
                {{ form_widget(form.endDate) }}
                {{ form_errors(form.endDate) }}
            </label>
        </div>

        <div class="row">
            <label data-field for="{{ form.trackingTeacher.vars.id }}" class="col-6">
                {{ forms.label(form.trackingTeacher) }}
                {{ form_widget(form.trackingTeacher) }}
                {{ form_errors(form.trackingTeacher) }}
            </label>

            <label data-field for="{{ form.visitingTeacher.vars.id }}" class="col-6">
                {{ forms.label(form.visitingTeacher) }}
                {{ form_widget(form.visitingTeacher) }}
                {{ form_errors(form.visitingTeacher) }}
            </label>
        </div>

        <label data-field for="{{ form.remarks.vars.id }}">
            {{ forms.label(form.remarks) }}
            {{ form_widget(form.remarks) }}
            {{ form_errors(form.remarks) }}
        </label>
    </fieldset>
    <button type="submit">Enregistrer</button>
{{ form_end(form) }}
