{{ form_start(form) }}
    <fieldset>
        <legend>Informations stage</legend>
        {{ form_row(form.student) }}
        {{ form_row(form.company) }}
        {{ form_row(form.startDate) }}
        {{ form_row(form.endDate) }}
        {{ form_row(form.trackingTeacher) }}
        {{ form_row(form.visitingTeacher) }}
        {{ form_row(form.remarks) }}
    </fieldset>
    <button type="submit">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
