{% extends 'base.html.twig' %}

{% block title %}Stage{% endblock %}

{% block body %}
    <section class="table">
        <table>
            <tbody>
                <tr>
                    <th>Étudiant</th>
                    <td title="{{ internship.student.major.label }}">{{ internship.student.fullName }} ({{ internship.student.major.code }})</td>
                </tr>
                <tr>
                    <th>Entreprise</th>
                    <td>{{ internship.company.name }}</td>
                </tr>
                <tr>
                    <th>Période</th>
                    <td>Du {{ internship.startDate|date('d/m/Y') }} au {{ internship.endDate|date('d/m/Y') }}</td>
                </tr>
                <tr>
                    <th>Suivi</th>
                    <td>{{ internship.trackingTeacher ? internship.trackingTeacher.fullName : 'Aucun' }}</td>
                </tr>
                <tr>
                    <th>Visite</th>
                    <td>{{ internship.visitingTeacher ? internship.visitingTeacher.fullName : 'Aucun' }}</td>
                </tr>
                <tr>
                    <th>Remarques</th>
                    <td>{{ internship.remarks }}</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="table">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Auteur</th>
                    <th>Action</th>
                    <th>Ancien</th>
                    <th>Nouveau</th>
                </tr>
            </thead>
            <tbody>
                {% for log in internship.historyLogs %}
                    <tr>
                        <td>{{ log.createdAt|date('d/m/Y H:i') }}</td>
                        <td>{{ log.author.fullName }}</td>
                        <td>{{ log.actionType.label }}</td>
                        <td>{{ log.oldValue }}</td>
                        <td>{{ log.newValue }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucune modification enregistrée.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
