{{ form_start(form) }}
    <fieldset>
        <legend>Etat du jalon</legend>
        {{ form_row(form.status) }}
        {{ form_row(form.validatedAt) }}
        {{ form_row(form.comment) }}
    </fieldset>
    <button type="submit">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
