{% set statusCode = status.code %}
{% set statusLabel = status.label %}

{% set badgeClass = statusCode == 'OK'
    ? 'success'
    : (statusCode == 'NOK' ? 'danger' : 'secondary')
%}

<span class="badge {{ badgeClass }}" aria-label="{{ statusLabel }}">
    {% if comment %}
        {{ ux_icon('message-square') }}
    {% else %}
        {% if statusCode == 'OK' %}
            {{ ux_icon('check') }}
        {% elseif statusCode == 'NOK' %}
            {{ ux_icon('x') }}
        {% else %}
            {{ ux_icon('minus') }}
        {% endif %}
    {% endif %}
</span>
