{{ form_start(form) }}
    <fieldset>
        <legend>Informations promotion</legend>
        {{ form_row(form.year) }}
        {{ form_row(form.isArchived) }}
    </fieldset>
    <button type="submit">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
