{{ form_start(form) }}
    <fieldset>
        <legend>Informations entreprise</legend>
        {{ form_row(form.name) }}
        {{ form_row(form.address) }}
        {{ form_row(form.zipCode) }}
        {{ form_row(form.city) }}
        {{ form_row(form.contactName) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.email) }}
    </fieldset>
    <button type="submit">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
