{% extends 'base.html.twig' %}

{% block title %}Entreprise{% endblock %}

{% block body %}
    <section class="table">
        <table>
            <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ company.name }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ company.address }}</td>
                </tr>
                <tr>
                    <th>Code postal</th>
                    <td>{{ company.zipCode }}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td>{{ company.city }}</td>
                </tr>
                <tr>
                    <th>Tuteur</th>
                    <td>{{ company.tutorName }}</td>
                </tr>
                <tr>
                    <th>Telephone</th>
                    <td>{{ company.phone }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ company.email }}</td>
                </tr>
            </tbody>
        </table>
    </section>
{% endblock %}
