{{ form_start(form) }}
    <fieldset>
        <legend>Informations utilisateur</legend>
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {% if form.userRoles is defined %}
            <div>
                {{ form_label(form.userRoles) }}
                <div>
                    {% for roleField in form.userRoles %}
                        <label for="{{ roleField.vars.id }}">
                            {{ form_widget(roleField) }}
                            <span>{{ roleField.vars.label }}</span>
                        </label>
                    {% endfor %}
                </div>
                {{ form_errors(form.userRoles) }}
            </div>
        {% endif %}
    </fieldset>
    <button type="submit">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
