{{ form_start(form) }}
    <fieldset>
        <legend>Informations utilisateur</legend>

        <label data-field for="{{ form.email.vars.id }}">
            {{ form.email.vars.label }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </label>

        <label data-field for="{{ form.password.vars.id }}">
            {{ form.password.vars.label }}
            {{ form_widget(form.password, {'attr': {'aria-describedby': form.password.vars.id ~ '_hint'}}) }}
            <small id="{{ form.password.vars.id }}_hint" data-hint>Renseignez un mot de passe fort.</small>
            {{ form_errors(form.password) }}
        </label>

        <label data-field for="{{ form.firstName.vars.id }}">
            {{ form.firstName.vars.label }}
            {{ form_widget(form.firstName) }}
            {{ form_errors(form.firstName) }}
        </label>

        <label data-field for="{{ form.lastName.vars.id }}">
            {{ form.lastName.vars.label }}
            {{ form_widget(form.lastName) }}
            {{ form_errors(form.lastName) }}
        </label>

        {% if form.role is defined %}
            <label data-field for="{{ form.role.vars.id }}">
                {{ form.role.vars.label }}
                {{ form_widget(form.role) }}
                {{ form_errors(form.role) }}
            </label>
        {% endif %}
    </fieldset>
    <button type="submit">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
