{% import "_form_macros.html.twig" as forms %}

{{ form_start(form) }}
    <fieldset>
        <div class="row">
            <label data-field for="{{ form.firstName.vars.id }}" class="col-6">
                {{ forms.label(form.firstName) }}
                {{ form_widget(form.firstName) }}
                {{ form_errors(form.firstName) }}
            </label>

            <label data-field for="{{ form.lastName.vars.id }}" class="col-6">
                {{ forms.label(form.lastName) }}
                {{ form_widget(form.lastName) }}
                {{ form_errors(form.lastName) }}
            </label>
        </div>

        <div class="row">
            <label data-field for="{{ form.email.vars.id }}" class="col-6">
                {{ forms.label(form.email) }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </label>

            <label data-field for="{{ form.password.vars.id }}" class="col-6">
                {{ forms.label(form.password) }}
                {{ form_widget(form.password) }}
                {{ form_errors(form.password) }}
            </label>
        </div>

        {% if form.role is defined %}
            <label data-field for="{{ form.role.vars.id }}">
                {{ forms.label(form.role) }}
                {{ form_widget(form.role) }}
                {{ form_errors(form.role) }}
            </label>
        {% endif %}
    </fieldset>
    <button type="submit">Enregistrer</button>
{{ form_end(form) }}
