{{ form_start(form) }}
    <fieldset>
        <legend>Informations utilisateur</legend>
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {% if form.userRoles is defined %}
            {{ form_row(form.userRoles) }}
        {% endif %}
    </fieldset>
    <button type="submit">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
