{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>{{ user.firstName }} {{ user.lastName }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    {% for role in user.roles %}
                        <span class="badge">{{ role }}</span>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_user_index') }}">Retour a la liste</a>
    {% else %}
        <a href="{{ path('app_home_index') }}">Retour</a>
    {% endif %}
{% endblock %}
