{% extends 'base.html.twig' %}

{% block title %}{{ user.fullName }}{% endblock %}

{% block body %}
    <section class="table">
        <table>
            <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ user.lastName }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ user.firstName }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Rôles</th>
                    <td>
                        {% set roleLabels = user.userRoles|map(role => role.label)|filter(label => label is not empty) %}
                        {{ roleLabels is not empty ? roleLabels|join(', ') : 'Utilisateur' }}
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
{% endblock %}
