{% extends 'base.html.twig' %}

{% block title %}{{ user.fullName }}{% endblock %}

{% block body %}
    <section class="table">
        <table>
            <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ user.lastName }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ user.firstName }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Rôles</th>
                    <td>
                        {{ user.role and user.role.label ? user.role.label : 'Utilisateur' }}
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
{% endblock %}
